<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Digital-Bank</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>

      <li class="nav-item"><a class="nav-link" routerLink="/customers">Customers</a></li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/accounts"> Accounts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/customers">searchCustomers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/new-customer">New Customers</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
          Customer
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

            <li><a class="dropdown-item" routerLink="/customers">searchCustomers</a></li>
            <li><a class="dropdown-item" routerLink="/new-customers">New Customers</a></li>
            <li><a class="dropdown-item"></a></li>
        </ul>
      </li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h3>Welcome to Digital-Bank</h3>
  <p>The ultimate e-banking website.</p>
</div>

</body>
</html>

